body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(13, 17, 23);
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.table{
  
}

.table .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table .row .square{
  width: 13vw;
  height: 13vw;
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  border: 5px solid red;
}

.cross{
  width: 10vw;
  height: 10vw;
  position: relative;

}

.cross::after{
  content: '';
  width: 10vw;
  height: 5px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::before{
  content: '';
  width: 10vw;
  height: 5px;
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}